.pageWrapper {
  width: 100%;
  font-family: sans-serif;
  background: #f9f9f9;
}

.coverSection {
  position: relative;
  width: 100%;
  height: 260px;
  background-color: #ddd;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  background: #e0e0e0;
}

.profileImageWrapper {
  position: absolute;
  bottom: -70px;
  left: 40px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  background: #fff;
  z-index: 10;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.profileSection {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  background: #fff;
  padding-top: 80px;
}

.profileDetails {
  margin-left: 167px;
  margin-top: -50px;
}

.name {
  font-size: 2rem;
  margin: 0;
}

.about {
  font-size: 1.1rem;
  color: #444;
  margin-top: 6px;
}

.location {
  font-size: 1rem;
  color: #777;
  margin-top: -12px;
}
