.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 9px;
  background-color: #272727;
  border-bottom: 1px solid #ddd;
  width: 100%;
  top: 0;
  position: sticky;
}

.logo-container {
  margin-right: 12px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
